$mainColor: #28336d;
$blackColor: black;

/* Responsive columns */
@media screen and (max-width: 1700px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

.container2 {
  display: flex;
  width: 100%;
}

@media only screen and (max-width: 900px) {
  .container2 {
    flex-direction: column-reverse;
    text-align: center;
  }

  .box {
    margin: 0 0 1rem;
    align-self: center;
  }
}

.column-1 {
  flex-shrink: 0;
  flex-basis: 70%;
}
.column-2 {
  flex-basis: 70%;
}

.box .photochatacter {
  width: 160px;
  float: left;
}

.box {
  padding: 10px;
  margin: 1rem;
}
.box h1 {
  color: $mainColor;
}
.box .description {
  font-weight: bold;
}

.photochatacter {
  height: 200px;
  width: 200px;
  float: left;
}

@media all and (max-width: 580px) {
  .card {
    text-align: center;
    height: 300px !important;
  }
  .colimage,
  .description {
    display: none;
  }
  .coldetails {
    width: 100% !important;
  }
}

.description {
  font-size: 18px;
}

.linkbtn {
  text-align: center;
  background-color: $mainColor;
  box-shadow: 3px 6px $blackColor;
  display: inline-block;
  width: 20%;
  text-decoration: none;
  color: white;
  margin: 1em;
  padding: 0.25em 1em;
  border-radius: 3px;
}
